<header>
    <h1>{{ page.title | site.title | default: site.github.repository_name }}</h1>
    <h2>{{ page.description | site.description | default: site.github.project_tagline }}</h2>
</header>
{% if site.mathjax %}
  <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_SVG"> </script>
  <script type="text/x-mathjax-config">
MathJax.Hub.Config({ tex2jax: { inlineMath: [ ['$','$'], ["\\(","\\)"] ], processEscapes: true } });
  </script>
  {% endif %}