---
---

@import "{{ site.theme }}";

span a.top-nav-item {
    width:100px;
    text-align: center;
}

blockquote {
    padding: 0 0 0 20px;
    font-size: 1.0em;
    border-left: 6px solid #6a9fb5;
}

.card {
    padding-bottom: 30px;
}

a#view-on-github {
    width:150px !important;
}

td {
    border: 1px solid #666;
}

ul li {
    padding-left: 5px;
    margin-left: 20px;
}

a.pull-xs-right {
    float: right;
}